.navbar {
  display: flex;
  flex-direction: column;
  padding: 1em;

  .topBlueCont {
    background-color: #3aa8f0;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding-right: 1em;

    .logoCont {
      padding: 5px;
      margin-right: 1em;
      .logoImage {
        width: 200px;
        height: auto;
      }
    }
    .topBlueCont_Menus {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 15px;

      .menuTitle:hover{
        text-decoration: underline;
      }

      .topBlueCont_Menus_Icon {
        width: 40px;
        height: auto;
        display: flex;
        margin-top: 1em;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .yellowBottomCont {
    background-color: #f89727;
    padding: 1em 0em 1em 0em;
    display: flex;
    padding-left: 190px;
    // width: 100%;

    .yellowBottomCont_Menus {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .topBlueCont_Menus_Icon {
      width: 40px;
      height: auto;
    }
  }
}
